// Colors
$grey-100: #DBDCE6;

$text-dark: #31324C;
$text-grey: #85878D;

// Fonts
$RobotoRegular: 'RobotoRegular', sans-serif;
$RobotoMedium: 'RobotoMedium', sans-serif;
$RobotoBold: 'RobotoBold', sans-serif;

$InterRegular: 'InterRegular', sans-serif;
$InterMedium: 'InterMedium', sans-serif;
$InterSemiBold: 'InterSemiBold', sans-serif;
$InterBold: 'InterBold', sans-serif;